{% extends 'backend/base.html' %} {% block title %}
<title>Dashboard | {{ page_title }}</title>
{% endblock %} {% block content %}
<div class="container mt-4 form-wrapper">
  <div class="card shadow-sm">
    <div class="card-body">
      <h4 class="page-title mb-4">{{ page_title }}</h4>

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="mb-3">
          <label class="form-label">Heading</label>
          {{ form.heading }}
        </div>

        <div class="mb-3">
          <label class="form-label">Description</label>
          {{ form.description }}
        </div>

        <div class="mb-3">
          <label class="form-label">Button Text</label>
          {{ form.button_text }}
        </div>

        <div class="mb-3">
          <label class="form-label">Button URL</label>
          {{ form.button_two_url }}
        </div>

        <div class="mb-3">
          <label class="form-label">Button Text</label>
          {{ form.button_two_text }}
        </div>

        <div class="mb-3">
          <label class="form-label">Button URL</label>
          {{ form.button_url }}
        </div>

        <div class="mb-3">
          <label class="form-label">Desktop Image</label>
          {{ form.image_for_desktop }}
        </div>

        <div class="mb-3">
          <label class="form-label">Mobile Image</label>
          {{ form.image_for_mobile }}
        </div>

        <div class="mb-3 form-check">
          {{ form.status }}
          <label class="form-check-label">Active</label>
        </div>

        <button type="submit" class="btn btn-primary">{{ page_title }}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
